.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;
  .chat-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: auto;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.06);
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: unset !important;
  }
}
@media (max-width: 479px) {
  .layout-container {
    padding: 10px;
  }
 
}
