.chat-details-wrap {
  width: 100%;
  .chat-details {
    width: 100% !important;
    float: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #eaeaea;
    .back-to-chatlist {
      margin-bottom: 20px;
    }
  }
}
@media (max-width: 767px) {
  max-width: 100% !important;
}
