.star-rating-wrap {
  width: auto;
  height: auto;
  label {
    position: relative;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    input {
      opacity: 0;
      cursor: pointer;
      width: 100%;
      height: 100%;
    }
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 25px;
      width: 25px;
      background-color: transparent;
      img {
        width: 25px;
        display: none;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 035s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        opacity: 0;
        visibility: hidden;
      }
      img.show {
        display: block;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
@media (max-width: 479px) {
  .star-rating-wrap label .checkmark {
    width: 20px;
    height: 20px;
  }
}
