.filter-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  .title {
    margin-bottom: 15px;
  }
  input[type="checkbox"] {
    margin-right: 15px;
  }
  .radio + .radio {
    margin-left: 0 !important;
  }
}
