.dashboard-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;
  position: relative;
}
.side-panel {
  position: fixed;
  width: 200px;
  height: 100%;
  min-height: 100%;
  overflow-y: hidden !important;
  background-color: grey;
}
