body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.dashboard-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      background-color: #fafafa;
      .chat-window-wrap {
        width: 100%;
        height: auto;
        background-color: #fff;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex !important;
        .chat-list {
          width: 100%;
          max-width: 340px;
          float: left;
          height: auto;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          border-right: 1px solid #eaeaea;
        }

        .chat-details {
          width: calc(100% - 340px);
          float: left;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          border-right: 1px solid #eaeaea;
        }
      }
      .back-to-chatlist {
        display: none;
        margin: 20px auto;
        max-width: 175px;
      }
      .Mobile-chat-area {
        width: 100%;
        .chat-list-container {
          display: none;
        }
      }
    }
  }
}
.side-panel {
  width: 280px;
  height: calc(100vh - 82px);
  min-height: 100px;
  overflow-y: hidden !important;
  float: left;
}
.content-display {
  width: calc(100% - 280px);
  height: calc(100vh - 82px);
  min-height: 100px;
  float: left;
}
.suggested-a-session-modal {
  z-index: 9999999999;

  .modal-content {
    background-color: #fff;
    margin: 80px auto;
    text-align: center;
    padding: 30px;
    .head {
      font-size: 16px;
    }
  }
}
@media (max-width: 1199px) {
  .dashboard-container
    .dashboard-inner
    .content-box
    .chat-window-wrap
    .chat-list {
    max-width: 280px !important;
  }
  .container .chat-list-container {
    max-width: 280px !important;
  }
  .chat-details {
    width: calc(100% - 280px) !important;
  }
  .Mobile-chat-area .container .chat-list-container {
    max-width: 100% !important;
  }
}
@media (max-width: 991px) {
  .dashboard-container {
    position: relative;
    width: 100%;
    margin-top: 0;
    height: auto;
  }
  .chat-window .message-bundle .user-avatarr img {
    width: 40px !important;
    height: 40px !important;
  }
  .container
    .chat-list-container
    .individual-list-wrap
    .individual-list
    .user-avatar {
    width: 40px !important;
    height: 40px !important;
  }
}
@media (max-width: 767px) {
  .dashboard-container
    .dashboard-inner
    .content-box
    .chat-window-wrap
    .chat-details {
    display: none !important;
  }
  .dashboard-container
    .dashboard-inner
    .content-box
    .chat-window-wrap
    .chat-list {
    display: none !important;
  }
  .dashboard-container .dashboard-inner .content-box .chat-window-wrap {
    display: none !important;
  }
  .suggested-a-session-modal .modal-content {
    width: 80%;
  }
  .Mobile-chat-area {
    .chat-list-container {
      display: block !important;
    }
  }
}
@media (max-width: 479px) {
  .container
    .chat-list-container
    .individual-list-wrap
    .individual-list
    .user-avatar {
    width: 35px !important;
    height: 35px !important;
  }
  .dashboard-container .dashboard-inner .content-box {
    padding: 0;
  }
}
