body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.dashboard-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      .inner-blk-wrap {
        width: 100%;
        height: auto;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
        .sec1 {
          width: 70%;
          float: left;
          .category {
            margin-bottom: 10px;
          }
        }
        .sec2 {
          display: table;
          width: 30%;
          float: left;
          min-height: 70px;
          background-color: rgba(42, 65, 232, 0.04);
          span {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            img {
              object-fit: contain;
              object-position: center center;
              width: 40px;
            }
          }
        }
      }
    }
  }
}
.side-panel {
  width: 280px;
  height: calc(100vh - 82px);
  min-height: 100px;
  overflow-y: hidden !important;
  float: left;
}
.content-display {
  width: calc(100% - 280px);
  height: calc(100vh - 82px);
  min-height: 100px;
  float: left;
}
@media (max-width: 991px) {
  .dashboard-container {
    position: relative;
    width: 100%;
    margin-top: 0;
    height: auto;
  }
}
