body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.teacher-rate-schedule-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      .set-values {
        width: 100%;
        height: auto;
        padding: 50px 0;
        .headings {
          font-size: 20px;
          margin-bottom: 15px;
        }
        .time-zone-dropdown {
          margin-right: 15px;
          select {
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          }
        }
        .time-zone-dropdown:last-child {
        }
        .label {
          width: 100%;
        }
        .label.availability-controls {
          width: auto;
          margin-right: 50px;
          float: left;
          min-width: 70px;
        }
        .voice-video-wrap {
          width: 100%;
          .voice-video-control {
            .input-wrap {
              float: left;
              margin-right: 20px;
              label {
                float: left;
                margin-right: 5px;
              }
              input {
                margin-right: 10px;
                float: left;
                margin-top: 4px;
              }
            }
          }
        }
        .rate-input {
          max-width: 100px;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          float: left;
        }
        .rate-controls {
          width: auto;
          margin-right: 50px;
          float: left;
          margin-top: 7px;
        }
        .minute {
          margin-top: 11px;
          margin-left: 10px;
          margin-right: 14px;
          font-size: 14px;
          float: left;
        }
        .update-btn {
          margin-right: 15px;
        }
        .additional-rate-wrap {
          width: 100%;
          margin-top: 30px;
        }
        .show-current-schedules {
          width: 100%;
          margin-bottom: 15px;
        }
      }
      .set-values.current-schedules {
        padding-top: 0;
      }
      .item-wrap {
        border-bottom: 1px solid #e0e0e0;
      }
    }
  }
}
// .student-side-panel {
//   width: 280px;
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   overflow-y: hidden !important;
//   float: left;
// }
// .content-display {
//   width: calc(100% - 280px);
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   float: left;
// }

@media (max-width: 991px) {
  .teacher-rate-schedule-container {
    position: relative;
    width: 100%;
    margin-top: -7px;
    height: auto;
  }
}

@media (max-width: 767px) {
  .teacher-rate-schedule-container
    .dashboard-inner
    .content-box
    .set-values
    .time-zone-dropdown {
    width: 100%;
    max-width: 320px;
    display: block;
    font-size: 13px;
  }
  .select {
    margin-bottom: 10px;
    select {
      width: 100%;
      max-width: 320px;
      option {
        white-space: normal !important;
        word-wrap: break-word !important;
        display: inline-block;
        width: 100%;
      }
    }
  }
  .teacher-rate-schedule-container
    .dashboard-inner
    .content-box
    .set-values
    .rate-controls {
    width: 100%;
  }
  .teacher-rate-schedule-container
    .dashboard-inner
    .content-box
    .set-values
    .rate-input {
    width: 70px;
    height: 45px;
    font-size: 13px;
    .control {
      height: 100%;
      input {
        height: 100%;
        font-size: 13px;
      }
    }
  }
  .teacher-rate-schedule-container .dashboard-inner .content-box {
    padding: 0 30px;
  }
  .teacher-rate-schedule-container
    .dashboard-inner
    .content-box
    .set-values
    .button {
    width: 100%;
    max-width: 320px;
    margin-top: 12px;
    display: block;
  }
}
