body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.teacher-prof-edit-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      display: none !important;
      .pg-heading {
        font-size: 21px;
      }
      .profile-edit-wrap {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        width: 100%;
        .left-blk {
          width: 100%;
          float: left;
          .change-profile-pic-title {
            padding: 15px 15px 0;
          }
          .avatar-wrap {
            width: 100%;
            padding: 15px;
            float: left;
            .avatar-wrap-inner {
              .file-cta {
                height: 150px;
                width: 150px;
                padding: 0;
                img {
                  height: 100%;
                  width: 100%;
                  transition: all 0.3s ease;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .right-blk {
          width: 100%;
          float: left;
          .headings {
            font-size: 21px;
            margin-bottom: 15px;
          }
          .field-wrap {
            width: 50%;
            padding: 15px;
            float: left;
            input {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
          }
          .pick-date-wrap {
            width: 100%;
            .month-selector {
              width: 170px;
              float: left;
              margin-right: 15px;
              select {
                width: 170px;
                border: 1px solid #e0e0e0;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              }
            }
            .year-selector {
              width: 170px;
              float: left;
              select {
                width: 170px;
                border: 1px solid #e0e0e0;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              }
            }
          }
          .select-skills-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .part {
              width: 100%;
              float: left;
              label {
                width: 100%;
                input {
                  margin-right: 5px;
                }
              }
              p:hover {
                img {
                  display: inline-block;
                }
              }
            }
            .add-new {
              margin-top: 15px;
            }
            img {
              width: 15px;
              margin-left: 15px;
              cursor: pointer;
              display: none;
            }
          }
          .switch-account-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .switch-account-inner {
              max-width: 400px;
              .status-switcher {
                width: 100%;
                height: auto;
                .part {
                  width: 100%;
                  position: relative;
                  border-radius: 10px;
                  label {
                    width: 48%;
                    text-align: center;
                    position: relative;
                    padding: 10px 0;
                    text-align: center;
                    background-color: #eee;
                    float: left;
                    transition: all 0.4s cubic-bezier(0.3, -0.41, 0.19, 1.3),
                      background-color 0.2s linear;
                    border-radius: 5px;

                    input {
                      position: absolute;
                      width: 100%;
                      height: 100%;
                      opacity: 0;
                      visibility: hidden;
                      left: 0;
                      top: 0;
                    }
                  }
                  label:first-child {
                    margin-right: 15px;
                  }
                  label.online.is-active {
                    background-color: #38b653;
                    color: #fff;
                  }
                  label.offline.is-active {
                    background-color: #38b653;
                    color: #fff;
                  }

                  .radio + .radio {
                    margin-left: 0;
                  }
                }
              }
            }
          }
          .expertise-wrap {
            padding: 30px;
            width: 100%;
            input {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              float: left;
              min-width: 320px;
            }
            .field-wrap {
              width: 100%;
              padding: 15px 0;
            }
            textarea {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
            .add-new {
              cursor: pointer;
            }
            .expertise-list {
              width: 100%;
              height: auto;
              .expert-row {
                width: 100%;
                height: auto;
                padding: 12px 5px;
                border: 1px solid #e0e0e0;
                position: relative;
                .sec1 {
                  width: 20%;
                  float: left;
                  padding: 15px;
                }
                .sec2 {
                  width: 65%;
                  float: left;
                  padding: 15px;
                  text-align: justify;
                  span {
                    text-align: justify;
                  }
                }
                .sec3 {
                  width: 15%;
                  float: left;
                  padding: 15px;
                  span {
                    cursor: pointer;
                  }
                }
              }
              .toolkit-row {
                width: 100%;
                height: auto;
                padding: 0px;
                border: 1px solid #e0e0e0;
                position: relative;
                .sec1 {
                  width: 20%;
                  float: left;
                  padding: 15px;
                }
                .sec2 {
                  width: 65%;
                  float: left;
                  padding: 15px;
                  text-align: justify;
                  span {
                    text-align: justify;
                  }
                }
                .sec3 {
                  width: 15%;
                  float: left;
                  padding: 15px;
                  span {
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .edit-languages-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .part {
              width: 100%;
              float: left;
              label {
                width: 100%;
                input {
                  margin-right: 5px;
                }
              }
              p:hover {
                img {
                  display: inline-block;
                }
              }
            }
            .add-new {
              margin-top: 15px;
            }
            img {
              width: 15px;
              margin-left: 15px;
              cursor: pointer;
              display: none;
            }
          }
          .work-experience-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .field-wrap {
              padding: 0;
              width: 100%;
              margin-bottom: 15px;
              .field {
                width: 50%;
              }
            }
            .des {
              float: none;
            }
            input[type="checkbox"] {
              margin-right: 10px;
            }
            .current {
              margin-bottom: 20px;
            }
            textarea {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
            .experience-list {
              width: 100%;
              height: auto;
              .expert-row {
                width: 100%;
                height: auto;
                padding: 5px;
                border: 1px solid #e0e0e0;
                position: relative;
                .sec1 {
                  width: 20%;
                  float: left;
                  padding: 5px 15px;
                }
                .sec2 {
                  width: 65%;
                  float: left;
                  padding: 5px 15px;
                  text-align: justify;
                  span {
                    text-align: justify;
                  }
                  .from-to {
                    margin-left: 10px;
                  }
                }
                .sec3 {
                  width: 15%;
                  float: left;
                  padding: 5px 15px;
                  span {
                    cursor: pointer;
                  }
                }
              }
            }
          }

          .description-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .control {
              width: 50%;
              textarea {
                border: 1px solid #e0e0e0;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              }
            }
          }
          .edit-social-media-links-wrap {
            padding: 30px;
            width: 100%;
            border-bottom: 1px solid #e0e0e0;
            .field-wrap {
              width: 100%;
              padding: 0;
              margin-bottom: 15px;
              .control {
                width: 50%;
              }
            }
          }
          .education-wrap {
            width: 100%;
            padding: 30px 30px 30px 15px;
            border-bottom: 1px solid #e0e0e0;
            .edu {
              padding-left: 15px;
            }
            .field-wrap {
              width: 100%;
              .field {
                width: 50%;
              }
            }
            textarea {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
            .pick-date-wrap {
              padding: 0 15px 0;
            }
            .education-list {
              width: 100%;
              height: auto;
              .expert-row {
                width: 100%;
                height: auto;
                padding: 5px;
                border: 1px solid #e0e0e0;
                position: relative;
                .sec1 {
                  width: 20%;
                  float: left;
                  padding: 5px 15px;
                }
                .sec2 {
                  width: 65%;
                  float: left;
                  padding: 5px 15px;
                  text-align: justify;
                  span {
                    text-align: justify;
                  }
                  .from-to {
                    margin-left: 10px;
                  }
                }
                .sec3 {
                  width: 15%;
                  float: left;
                  padding: 5px 15px;
                  span {
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .btn-submit {
            width: 100%;
            max-width: 239px;
            margin-left: 15px;
            margin-top: 20px;
          }
        }
      }
    }
    .content-box.show {
      display: block !important;
    }
    .student-content .short-description-wrap {
      width: 100%;
      padding: 15px;
      .control {
        width: 50%;
        textarea {
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .edit-delete-wrap {
    height: auto;
    float: left;
    img {
      width: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
.error {
  position: absolute;
  top: 55px;
  left: 0;
  color: red;
  font-size: 13px;
  width: 100%;
  text-align: center;
}
.show {
  display: block;
}
.empty-data {
  padding: 10px;
}

.edit-add-modal {
  z-index: 9999999;
  .modal-content {
    background-color: #fff;
    margin: 100px auto;
    padding: 15px;
    border-radius: 5px;
    max-height: unset !important;
    .add-edit-wrap {
      width: 100%;
      height: auto;
      .current {
        input {
          min-width: unset;
          margin-right: 10px;
          margin-top: 3px;
        }
      }
      input {
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        float: left;
        min-width: 320px;
      }
      .field-wrap {
        width: 100%;
        padding: 15px 0;
      }
      textarea {
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
      }
      .select {
        width: 100%;
        select {
          width: 100%;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .edu {
    padding-left: 15px;
  }
  .field-wrap {
    width: 100%;
    .field {
      width: 100%;
      .control {
        width: 100%;
      }
    }
    input {
      width: 100%;
      border: 1px solid #e0e0e0;
      box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
    }
  }
  .pick-date-wrap {
    padding: 0 15px 0;
    .column {
      padding: 15px 0 15px;
    }
    .month-selector {
      select {
        width: 170px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
      }
    }
    .year-selector {
      select {
        width: 170px;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
.modal-background {
  overflow-y: scroll;
}
textarea {
  border: 1px solid #e0e0e0;
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
}

.add-languages-modal {
  .modal-content {
    padding: 30px;
    .part {
      width: 50%;
      label {
        width: 100%;
        padding: 10px;
        input {
          margin-right: 5px;
        }
      }
    }
    .button {
      margin-top: 15px;
    }
  }
}
.add-skills-modal {
  .modal-content {
    padding: 30px;
    .part {
      width: 50%;
      label {
        width: 100%;
        padding: 10px;
        input {
          margin-right: 5px;
        }
      }
    }
    .button {
      margin-top: 15px;
    }
  }
}
// .student-side-panel {
//   width: 280px;
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   overflow-y: hidden !important;
//   float: left;
// }
// .content-display {
//   width: calc(100% - 280px);
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   float: left;
// }

@media (max-width: 991px) {
  .teacher-prof-edit-container {
    position: relative;
    width: 100%;
    margin-top: -7px;
    height: auto;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .student-content
    .short-description-wrap
    .control {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .field-wrap {
    width: 100%;
    .field {
      width: 100% !important;
    }
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .description-wrap
    .control {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .column {
    display: inline-block;
    width: 100%;
  }
  .edit-add-modal {
    z-index: 9999999;
    .modal-content {
      width: 90%;
      .add-edit-wrap {
        input {
          min-width: 100%;
        }
      }
    }
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .expertise-list
    .expert-row {
    border: none;
    border-bottom: 1px solid #e0e0e0;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .expertise-list
    .expert-row
    .sec1 {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .expertise-list
    .expert-row
    .sec2 {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .expertise-list
    .expert-row.titles {
    display: none !important;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .expertise-list
    .expert-row
    .sec3 {
    width: 100%;
    padding: 0;
    margin-bottom: 15px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    .add-new {
    margin-top: 15px;
  }
  .add-skills-modal .modal-content .part {
    width: 100%;
  }
  .add-languages-modal .modal-content .part {
    width: 100%;
  }
  .add-skills-modal .modal-content {
    padding: 15px;
  }
  .add-languages-modal .modal-content {
    padding: 15px;
  }
  .teacher-prof-edit-container .edit-delete-wrap img {
    width: 13px;
  }
}
@media (max-width: 767px) {
  .teacher-prof-edit-container .dashboard-inner .content-box {
    padding: 0;
    .label {
      font-size: 15px;
      margin-top: 10px;
    }
    .pg-heading {
      margin-bottom: 0;
      padding: 20px 20px 20px 30px;
      font-size: 19px;
    }
    .profile-edit-wrap {
      padding: 15px;
    }
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .headings {
    font-size: 17px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .select-skills-wrap
    .part {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .switch-account-wrap
    .switch-account-inner
    .status-switcher
    .part
    label {
    width: 100%;
    margin-bottom: 15px;
    max-width: 320px;
  }
  .select {
    width: 100%;
  }
  select {
    width: 100% !important;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .month-selector {
    width: 50%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .year-selector {
    width: 50%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .edit-social-media-links-wrap
    .field-wrap
    .control {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .pick-date-wrap {
    padding: 0;
    margin: 0;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap {
    margin: 0;
    padding: 0;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk {
    .select-skills-wrap {
      padding: 30px 15px;
    }
    .switch-account-wrap {
      padding: 30px 15px;
    }
    .description-wrap {
      padding: 30px 15px;
    }
    .edit-languages-wrap {
      padding: 30px 15px;
    }
    .expertise-wrap {
      padding: 30px 15px;
    }
    .work-experience-wrap {
      padding: 30px 15px;
      .pick-date-wrap {
        .column {
          padding: 15px 0;
        }
      }
    }
    .edit-social-media-links-wrap {
      padding: 30px 15px;
    }
    .education-wrap {
      padding: 30px 15px;
      .edu {
        padding-left: 0;
      }
      .field-wrap {
        padding: 15px 0;
      }
      .pick-date-wrap {
        .column {
          padding: 15px 0;
        }
      }
    }
    .btn-submit {
      margin: auto;
      margin-top: 20px;
    }
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .work-experience-wrap
    .experience-list
    .expert-row
    .sec3 {
    width: auto;
    position: absolute;
    right: 0;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .work-experience-wrap
    .experience-list
    .expert-row
    .sec2 {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 0 15px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .work-experience-wrap
    .experience-list
    .expert-row
    .sec1 {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec1 {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec2 {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 0 15px;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec3 {
    width: auto;
    position: absolute;
    right: 0;
  }

  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .work-experience-wrap
    .experience-list
    .expert-row
    .sec2
    .from-to {
    margin-left: 0;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec2
    .from-to {
    margin-left: 0;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .month-selector {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .year-selector {
    width: 100%;
  }
  .teacher-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    select {
    min-width: unset;
  }
}
