.header-widget {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  padding: 0 30px;
  text-align: left;
  float: left;
}
.header-widget-end {
  padding: 0 0 0 30px;
}
.header-notifications {
  display: inline-block;
  padding-right: 15px;
  position: relative;
}
.header-notifications-end {
  padding-right: 0;
}
.header-notifications-ico .header-notifications-trigger {
  margin-top: 30px;
}
.header-notifications-trigger,
.header-notifications-trigger a {
  font-size: 22px;
  color: #333;
  position: relative;
  margin-top: 20px;
}
.header-notifications-trigger a img {
  width: 21px;
}
.header-notifications-trigger span {
  position: absolute;
  display: inline-block;
  top: -15px;
  margin-left: -10px;
  font-weight: 700;
  height: 19px;
  width: 19px;
  line-height: 19px;
  text-align: center;
  color: #fff;
  font-size: 11px;
  background-color: #66676b;
  border-radius: 50%;
  position: relative;
  background-color: #2a41e8;
}
.user-avatar {
  display: inline-block;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  position: relative;
}
.status-icon,
.notification-avatar:after,
.user-avatar:after {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  background-color: silver;
  bottom: 0;
  right: 0;
  display: block;
  border: 2px solid #fff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
}
.status-icon.status-online,
.status-online:after {
  background-color: #38b653;
}
.header-notifications-trigger .user-avatar img {
  width: 100%;
  width: 100%;
  display: inline-block;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
}
.header-notifications .dropdown-menu {
  opacity: 0 !important;
  visibility: hidden !important;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.header-notifications .is-active .dropdown-menu {
  opacity: 1 !important;
  visibility: visible !important;
}
