.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;

  .login-signup-wrap {
    display: block;
    width: 80%;
    max-width: 540px;
    height: auto;
    background-color: #fff;
    margin: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    z-index: 99999;
    -webkit-transition: all ease-out 0.3s;
    -moz-transition: all ease-out 0.3s;
    -o-transition: all ease-out 0.3s;
    transition: all ease-out 0.3s;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    .tabs {
      position: relative;
      .modalClose {
        position: absolute;
        top: 0;
        right: 0;
        padding: 10px;
        cursor: pointer;
      }
    }
    .mainTab {
      background: #f8f8f8;
      li {
        float: left;
        line-height: 62px;
        height: 62px;
        padding: 0;
        margin-right: 0;
        position: relative;

        span {
          border: none;
          color: #777;
          display: inline-block;
          outline: none;
          padding: 0;
          text-decoration: none;
          font-size: 16px;
          z-index: 10;
          position: relative;
          height: 100%;
          padding: 0 30px;
          border-right: 1px solid transparent;
          border-left: 1px solid transparent;
          transition: all 0.3s, font-weight 0s;
          border-right: 1px solid #e0e0e0;
          font-weight: 600;
        }
      }
      li.is-active {
        border-bottom: 2px solid #fff;
        background-color: #fff;
        margin-bottom: -1px;
        span {
          color: #2a41e8;
        }
      }
    }

    .tab-content {
      display: none;
      padding: 15px 30px;
      text-align: center;
      width: 100%;
      .welcome-text {
        display: block;
        font-weight: 700;
        color: #333;
        font-size: 24px;
      }
      .teacherSignupLink {
        color: #2a41e8;
        a {
          color: #2a41e8;
        }
      }
      .welcome-text-sub {
        display: block;
        text-align: center;
        color: gray;
        margin-bottom: 33px;
        span {
          color: #2a41e8;
          padding-left: 10px;
          cursor: pointer;
        }
      }
      input {
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        margin: 0 0 16px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
      }

      textarea {
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        margin: 0 0 16px;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        resize: none;
      }
      .forgot-password {
        font-size: 14px;
        color: #2a41e8;
        margin-top: -5px;
        display: inline-block;
        text-align: left;
        float: left;
        a {
          font-size: 14px;
          color: #2a41e8;
          margin-top: -5px;
          display: inline-block;
          text-align: left;
          float: left;
        }
      }
      .login-btn {
        background-color: #2a41e8;
        top: 0;
        padding: 10px 20px;
        line-height: 24px;
        color: #fff;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        display: inline-block;
        height: 48px;
        width: 100% !important;
        margin-top: 30px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        border: none;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(102, 103, 107, 0.15);
        margin-bottom: 20px;
      }
    }
    .tab-content.active-content {
      display: inline-block;
    }
  }
}
.student-teacher-tab-wrap {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  margin-top: 33px;
  .student-teacher-tab {
    display: inline-block;
    width: 100%;
    padding: 0 27px;
    li {
      display: inline-block;
      float: left;
      position: relative;
      float: left;
      padding: 10px 20px;
      text-align: center;
      padding-bottom: 11px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      border-radius: 4px;
      color: #888;
      transition: 0.4s;
      height: 48px;
      line-height: 28px;
      overflow: hidden;
      border: none;
      background-color: #f2f2f2;
      margin-right: 6%;
      width: 47%;
    }
    li.is-active {
      color: #fff;
      background-color: #47bb67;
    }

    li:last-child {
      margin-right: 0;
    }
  }
}

.forgot-password-modal {
  z-index: 9999999999;
  .modal-content {
    background-color: #fff;
    margin: 50px auto;
    .password-recovery-container {
      width: 100%;
      padding-bottom: 20px;
      h1 {
        font-size: 26px;
        color: #333;
        margin-bottom: 15px;
        margin-top: 45px;
      }
      .inputWrap {
        position: relative;
        width: 100%;
        max-width: 350px;
        margin: auto;
        input {
          line-height: 48px;
          padding: 0 20px;
          outline: none;
          font-size: 16px;
          color: grey;
          margin: auto;
          margin-bottom: 30px;
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;
          display: block;
          background-color: #fff;
          font-weight: 500;
          opacity: 1;
          border-radius: 4px;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.12);
          max-width: 350px;
          margin-top: 30px;
        }
        .error {
          position: absolute;
          top: 55px;
          left: 0;
          color: red;
          font-size: 13px;
        }
      }
      .submit-btn {
        background-color: #2a41e8;
        top: 0;
        padding: 10px 20px;
        line-height: 24px;
        color: #fff;
        position: relative;
        font-size: 16px;
        font-weight: 500;
        display: block;
        height: 48px;
        width: 100% !important;
        margin: auto;
        margin-top: 26px;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        overflow: hidden;
        border: none;
        border-radius: 4px;
        box-shadow: 0 4px 12px rgba(102, 103, 107, 0.15);
        margin-bottom: 20px;
        max-width: 350px;
      }
    }
  }
}
.forgot-password-modal.show {
  display: block;
}
.inputWrap {
  position: relative;
  width: 100%;
  margin: auto;
  .error {
    position: absolute;
    top: 55px;
    left: 0;
    color: red;
    font-size: 13px;
    display: none;
  }
  .show {
    display: block;
  }
}
.login_error,
.forgot_pass,.signup_error {
  top: 55px;
  left: 0;
  color: red;
  font-size: 13px;
  display: none;
}
.show {
  display: block;
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: unset !important;
  }
}

@media (max-width: 767px) {
  .forgot-password-modal {
    .modal-content {
      width: 90%;
      max-height: unset;
      .password-recovery-container {
        h1 {
          font-size: 25px;
          margin-top: 45px;
        }
        .input-wrap {
          width: 100%;
          input {
            margin-top: 25px;
            width: 92%;
          }
        }

        .submit-btn {
          width: 92% !important;
        }
      }
    }
    .modal-close {
      right: -1px;
    }
  }
}
@media (max-width: 479px) {
  .forgot-password-modal {
    .modal-content {
      width: 90%;
      max-height: unset;
      .password-recovery-container {
        h1 {
          font-size: 25px;
          margin-top: 45px;
        }
        .inputWrap {
          width: 90%;
          input {
            margin-top: 25px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .login-signup-wrap {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .login-signup-wrap {
    margin-bottom: 30px;
    margin-top: 30px;
    .tab-content {
      padding: 15px 0;
      .welcome-text {
        font-size: 18px;
      }
      .welcome-text-sub {
        font-size: 14px;
      }
      input {
        font-size: 14px;
      }
    }
    .container {
      padding: 0 10px;
    }
  }
  .student-teacher-tab-wrap {
    .student-teacher-tab {
      padding: 0;
      li {
        width: 49%;
        margin-right: 2%;
      }
    }
    .container {
      padding: 0;
    }
  }
}
