.footer {
  min-height: 43px;
  height: auto;
  padding: 15px !important;
  background-color: #303030;
  .primary-list {
    list-style: none;
    display: inline-block;
    margin-top: 9px;
    li {
      color: silver;
      font-size: 15px;
      float: left;
      margin-right: 25px;
      span {
        margin-left: 10px;
      }
      p {
        color: silver;
        font-size: 15px;
      }
      a {
        color: silver;
        font-size: 15px;
        span {
          color: silver;
          font-size: 15px;
        }
      }
    }
    li:last-child {
      margin-right: 0;
    }
  }
  .lan-switch {
    float: left;
    margin-top: -4px;
    .select {
      font-size: 14px;
    }
  }
}
@media (max-width: 767px) {
  .footer .primary-list li {
    font-size: 12px;
  }
  .footer .primary-list li a {
    font-size: 12px;
  }
  .footer .lan-switch .select {
    font-size: 12px;
  }
}
@media (max-width: 479px) {
  .footer .primary-list li {
    font-size: 10px;
    margin-right: 5px;
  }
  .footer .primary-list li a {
    font-size: 10px;
    margin-right: 5px;
  }
  .footer .primary-list li span {
    margin-left: 5px;
  }
  .footer {
    height: auto;
  }
  .footer .lan-switch {
    float: none;
    display: block !important;
    max-width: 100px;
    margin: auto;
  }
  .footer .lan-switch .select {
    font-size: 10px;
  }
}
