.filter-box {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  .title {
    margin-bottom: 15px;
  }
  label {
    display: block;
    width: 100%;
    input[type="radio"] {
      margin-right: 15px;
    }
  }
  .radio + .radio {
    margin-left: 0 !important;
  }
}
