.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 0;
  background-color: #f5f7fa;
  .apr-success-container {
    width: 100%;
    height: (100vh);
    padding-top: 80px;
    h1 {
      margin-bottom: 30px;
      span {
        width: 100%;
      }
    }
    h3 {
      font-size: 20px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: unset;
  }
}

@media (max-width: 767px) {
  .layout-container {
    h3 {
      font-size: 16px;
      span {
        display: block;
      }
    }
  }
}
@media (max-width: 479px) {
  .layout-container {
    .reg-success-container {
      h1 {
        font-size: 25px;
        margin-top: 45px;
      }
      h3 {
        font-size: 15px;
        span {
          display: block;
        }
      }
    }
  }
}
