.chat-window {
  padding: 25px;
  width: 100%;

  .date {
    font-size: 16px;
    width: 100%;
  }
  .message-bundle {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 25px;
    .user-avatarr {
      position: absolute;
      left: 0;
      top: 0;
      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
      }
    }
    .message-body {
      margin-left: 70px;
      background-color: #00d1b2;
      border-radius: 4px;
      padding: 12px 18px;
      position: relative;
      float: left;
      line-height: 25px;
      text-align: left;
      max-width: 60%;
      min-height: 47px;
      min-width: 110px;
      .message {
        color: #fff;
      }
      .info {
        position: absolute;
        left: 0;
        top: -25px;
        span {
          font-size: 12px;
        }
        span.receiver-name:after {
          content: ", ";
        }
      }
      .typing-indicator {
        position: absolute;
        top: -26px;
        left: 0;
        font-size: 12px;
      }
    }
    .message-body:before {
      content: "";
      width: 0;
      height: 0;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      border-right: 6px solid #00d1b2;
      left: -6px;
      right: auto;
      top: 19px;
      position: absolute;
    }
  }
  .message-bundle.me {
    .user-avatarr {
      position: absolute;
      right: 0;
      left: auto;
    }
    .message-body {
      background-color: #dbdbdb;
      float: right;
      margin-left: 0;
      margin-right: 70px;
      .message {
        color: #666;
      }
      .status {
        background-color: #31aaec;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        position: absolute;
        bottom: -28px;
        right: 0;
        text-align: center;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          object-position: center;
          border-radius: 100%;
        }
        span {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          font-size: 7px;
          color: #fff;
        }
      }
      .info {
        left: auto;
        right: 0;
      }
    }
    .message-body:before {
      border-right: none;
      border-left: 6px solid #dbdbdb;
      left: auto;
      right: -6px;
    }
  }
}
.chat-footer {
  padding: 25px;
  border-top: 1px solid #eaeaea;
  .input-wrap {
    width: 75%;
    textarea {
      width: 100%;
      height: auto;
      border: none;
      outline: none;
      resize: none;
      height: 60px;
      padding: 15px;
      font-size: 16px;
    }
  }
  .btn-wrap {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    button {
      width: 100%;
      height: 50px;
      background-color: #2a41e8;
      color: #fff;
      border: none;
      outline: none;
    }
  }
}
@media (max-width: 1199px) {
  .chat-footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .chat-footer .btn-wrap {
    width: 100%;
    margin: auto;
  }
  .chat-footer .input-wrap {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .chat-footer .btn-wrap {
    width: 100%;
  }
  .chat-footer .input-wrap {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .chat-window .message-bundle .user-avatarr img {
    width: 35px;
    height: 35px;
    border-radius: 100%;
  }
}
@media (max-width: 767px) {
  .chat-header .recipient-name {
    margin-right: 13px;
  }
  .chat-window .message-bundle .message-body {
    width: 80%;
  }
  .chat-window .message-bundle .user-avatarr img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 479px) {
  .chat-header .recipient-name {
    margin-right: 13px;
  }
  .chat-window .message-bundle .message-body {
    max-width: 80%;
  }
  .chat-window .message-bundle .user-avatarr img {
    width: 35px;
    height: 35px;
  }
}
