.chat-details-wrap {
  .chat-details {
    width: 100% !important;
    float: left;
    display: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-right: 1px solid #eaeaea;
  }
}
