.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;
  .reset-email-sent-container {
    margin-top: 80px;
    width: 100%;
    height: (100vh);
    height: 100vh;
    h3 {
      span {
        display: block;
      }
    }
  }
}
@media (max-width: 767px) {
  .layout-container {
    h3 {
      font-size: 16px !important;
      span {
        display: block;
      }
    }
  }
}
@media (max-width: 479px) {
  .layout-container {
    .reset-email-sent-container {
      h1 {
        font-size: 25px;
        margin-top: 45px;
      }
      h3 {
        font-size: 14px !important;
        span {
          display: block;
        }
      }
    }
  }
}
