body {
  background-color: #fff;
}
.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #fff;
  .teacher-profile-wrap {
    max-width: 620px;
    width: 100%;
    height: auto;
    margin: auto;
    .avatar {
      width: 190px;
      height: 190px;
      border-radius: 100%;
      margin-bottom: 20px;
      img {
        object-fit: cover;
        object-position: center;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
    .name {
      margin-bottom: 5px;
      margin-top: 0;
    }
    .des {
      width: 100%;
      .subtitle {
        font-size: 14px;
      }
      margin-bottom: 15px;
      li {
        margin-right: 45\
        
        px;
        float: left;
        img {
          height: 25px;
          margin-top: -10px;
        }
      }
      li:last-child {
        margin-right: 0;
      }
      li span:first-child::after {
        content: ", ";
      }
      li.native span:first-child::after {
        content: " ";
      }
      li.native span:nth-child(2)::after {
        content: ", ";
      }
    }
    .detail-info {
      border: 1px solid grey;
      padding: 20px;
      margin: auto;
      margin-bottom: 20px;
      width: 100%;
      max-width: 610px;
      ul.main {
        li {
          float: left;
          margin-right: 30px;
          .title {
            font-size: 16px;
            margin-bottom: 9px;
          }
          ul.session-durations {
            li {
              margin-right: 10px;
              .subtitle {
                font-size: 14px;
              }
            }
          }
          img {
            width: 20px;
          }
        }
        li:first-child {
          margin-right: 150px;
        }
        li:last-child {
          margin-right: 0;
        }
      }
    }
    .contacts-wrap {
      width: 100%;
      max-width: 610px;
      margin: auto;
      margin-bottom: 20px;

      .contacts-ul {
        width: 100%;
        li {
          float: left;
          margin-right: 10px;
          .button {
            font-size: 14px;
          }
          img {
            width: 22px;
          }
        }
        li.social {
          float: right;
          a {
            margin-right: 10px;
          }
          a:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .details-wrap {
      width: 100%;
      max-width: 610px;
      margin: auto;
      margin-bottom: 20px;
      .details-head {
        width: 100%;
        .tab-link {
          font-size: 18px;
          color: #333;
          float: left;
          margin-right: 30px;
          padding: 10px;
          cursor: pointer;
        }
        .tab-link.is-active {
          color: #fff;
          background-color: green;
          border-radius: 5px;
        }
      }
      .details-content {
        width: 100%;
        height: auto;
        .tab-pane {
          padding: 10px 0;
          display: none;
          text-align: left;
          .title {
            margin-bottom: 20px;
          }
        }
        .tab-pane.is-active {
          display: block !important;
        }
        .experise-list {
          width: 100%;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
          li {
            padding: 15px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            .sub-ul {
              width: 100%;
              li {
                float: left;
                padding: 0;
                border-bottom: none;
              }
              li:first-child {
                width: 20%;
              }
              li:last-child {
                width: 80%;
                text-align: justify;
              }
            }
          }
          li:last-child {
            border-bottom: none;
          }
        }
        .review-wrap {
          width: 100%;
          height: auto;
          .review-list {
            width: 100%;
            li {
              margin-bottom: 30px;
              width: 100%;
              .sub-ul {
                width: 100%;
                margin: 0;

                .l-side {
                  .avatar {
                    width: 40px;
                    height: 40px;
                    margin-bottom: 10px;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                      object-position: center;
                    }
                  }
                  .title {
                    font-size: 16px;
                  }
                  .subtitle {
                    margin-bottom: 0;
                    font-size: 14px;
                  }
                }
                .r-side {
                  background-color: #fff;
                  padding: 20px;
                  border-radius: 10px;
                  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 1080px) {
  .layout-container .teacher-profile-wrap .detail-info ul.main li {
    width: 100%;
    margin-bottom: 15px;
  }
  .layout-container
    .teacher-profile-wrap
    .detail-info
    ul.main
    li
    ul.session-durations
    li {
    width: auto;
  }
  .layout-container
    .teacher-profile-wrap
    .detail-info
    ul.main
    li
    ul.session-durations
    li:first-child {
    width: auto;
  }
  .teacher-profile-wrap {
    max-width: 100%;
    .avatar {
      width: 120px;
      height: 120px;
    }
    .name {
      font-size: 20px;
    }
    .des {
      li {
        width: 100%;
      }
    }
    .detail-info {
      padding: 10px;
      ul.main li:first-child {
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
@media (max-width: 767px) {
  .layout-container {
    padding: 10px;
    .teacher-profile-wrap {
      max-width: 100%;
      .avatar {
        width: 120px;
        height: 120px;
      }
      .name {
        font-size: 20px;
      }
      .des {
        li {
          width: 100%;
        }
      }
      .detail-info {
        padding: 10px;
        ul.main li:first-child {
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }
  .layout-container
    .teacher-profile-wrap
    .details-wrap
    .details-content
    .experise-list
    li
    .sub-ul
    li:first-child {
    width: 100%;
  }
  .layout-container
    .teacher-profile-wrap
    .details-wrap
    .details-content
    .experise-list
    li
    .sub-ul
    li:last-child {
    width: 100%;
    text-align: justify;
  }
  .layout-container
    .teacher-profile-wrap
    .details-wrap
    .details-head
    .tab-link {
    font-size: 15px;
    margin-right: 7px;
  }
  .layout-container
    .teacher-profile-wrap
    .details-wrap
    .details-content
    .review-wrap
    .review-list
    li
    .sub-ul {
    background-color: #fff;
  }
  .layout-container
    .teacher-profile-wrap
    .details-wrap
    .details-content
    .review-wrap
    .review-list
    li
    .sub-ul
    .r-side {
    padding: 10px;
  }

  .layout-container .teacher-profile-wrap .detail-info ul.main li {
    width: 100%;
    margin-bottom: 15px;
  }
  .layout-container
    .teacher-profile-wrap
    .detail-info
    ul.main
    li
    ul.session-durations
    li {
    width: auto;
  }
  .layout-container
    .teacher-profile-wrap
    .detail-info
    ul.main
    li
    ul.session-durations
    li:first-child {
    width: auto;
  }
}
