.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;
  .home-page-contents-wrap {
    display: block;
    height: auto;
    width: 100%;
    .title {
      font-size: 20px;
      color: #666;
      margin-top: 30px;
    }
  }
}
@media screen and (min-width: 1024px) {
  .layout-container {
    .container {
      max-width: unset !important;
    }
  }
}

@media (max-width: 479px) {
  .layout-container {
    .layout-container {
      padding: 10px;
    }
  }
}
