.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;

  .search-content {
    .res-title {
      display: none;
    }
    max-width: 1140px;
    .res-filters {
      display: none;
      max-width: 138px;
    }
    .filters {
      -webkit-transition: all linear 0.3s;
      -moz-transition: all linear 0.3s;
      -o-transition: all linear 0.3s;
      transition: all linear 0.3s;
      opacity: 1;
      visibility: visible;
      .filter-box {
        margin-bottom: 15px;
      }
      .title {
        margin-top: 0;
        height: 55px;
        margin-bottom: 0;
      }
    }

    .results-desk {
      .title-bar {
        height: 55px;
      }
    }
    .number-of-results {
      .title {
        margin-top: 10px;
      }
    }
    .search-box-wrap {
      .level,
      .level-left,
      .level-item,
      .field {
        width: 100%;
      }
      .control {
        float: left;
        .button {
          border-radius: 0;
        }
        .button:focus,
        .button:active {
          outline: none;
          border-color: #dbdbdb;
        }
      }
      .control.search-box {
        width: 70%;
        input {
          width: 100%;
          border: 2px solid #dbdbdb;
          border-right: none;
          padding: 5px;
          height: 36px;
        }
        input:focus {
          outline: none;
        }
      }
    }
    .sort-wrap {
      .select {
        margin-top: 7px;
        max-width: 320px;
        select {
          width: 100%;
          background-color: #fff;
        }
      }
    }
    .results-panel {
      background-color: transparent;
    }
    .results-desk {
      .teacher-info {
        background-color: #fff;
        padding: 10px;
        margin-bottom: 15px;
        .inner {
          .left {
            width: 20%;
            padding: 10px;
            figure {
              width: 150px;
              height: 150px;
              border-radius: 100%;
              background-color: transparent;
              margin-bottom: 15px;
              img {
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
              }
            }
            ul {
              width: 100%;
              max-width: 190px;
              li {
                width: 100%;
                span.spec {
                  float: left;
                  color: #333;
                  font-weight: 600;
                  font-size: 14px;
                }
                span.value {
                  float: right;
                  font-size: 14px;
                  font-weight: 600;
                }
                span.value.free {
                  color: green;
                }
              }
            }
          }
          .right {
            width: 80%;
            padding: 10px;
            .spec-wrap {
              border-bottom: 1px solid rgba(0, 0, 0, 0.1);
              margin-top: 10px;
              margin-bottom: 10px;
              width: 100%;
              .spec-inner {
                width: 100%;
              }
              .teacher-name {
                padding-bottom: 10px;
              }
              .left-blk {
                width: 80%;
                float: left;
                padding: 10px 20px;
                padding-bottom: 20px;
                .location-wrap,
                .language-wrap,
                .native-wrap {
                  img {
                    width: 20px;
                    float: left;
                    margin-right: 5px;
                  }
                  .subtitle {
                    font-size: 12px;
                    span.current-city:after {
                      content: ", ";
                    }
                  }
                }
              }
              .right-blk {
                width: 20%;
                float: left;
                padding: 10px 20px;
                p {
                  margin-bottom: 5px;
                  img {
                    margin-right: 10px;
                    float: left;
                    width: 20px;
                  }
                }
              }
              .view-profile {
                font-size: 13px;
                max-width: 148px;
                a {
                  color: #23d160;
                }
              }
              .view-profile:hover a {
                color: #fff;
              }
              p.des {
                margin-bottom: 15px;
              }
            }
            .spec-wrap:last-child {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: unset !important;
  }
}

@media (max-width: 1199px) {
  .layout-container .search-content .number-of-results .title {
    font-size: 13px;
  }
}
@media (max-width: 1024px) {
  .layout-container {
    padding: 15px;
  }
  .layout-container
    .search-content
    .results-desk
    .teacher-info
    .inner
    .left
    figure {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 991px) {
  .layout-container
    .search-content
    .results-desk
    .teacher-info
    .inner
    .right
    .spec-wrap {
    .view-profile {
      margin-left: 20px;
    }
    .left-blk {
      width: 100%;
      padding-bottom: 30px;
    }
    .right-blk {
      width: 100%;
    }
  }
  .search-content .number-of-results .title {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  .layout-container .filters.hide {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  .layout-container
    .search-content
    .results-desk
    .teacher-info
    .inner
    .right
    .spec-wrap
    .view-profile {
    display: block;
  }
  .layout-container .search-content {
    margin-top: 20px;
    .filters {
      margin-top: 15px;
    }
    .res-title {
      display: block;
    }
    .res-hide-title {
      display: none;
    }
    .res-filters {
      display: block;
    }
    .results-desk {
      .titlebar {
        height: auto;
      }
    }
  }
  .layout-container .search-content .results-desk .title-bar {
    height: auto;
  }
}
@media (max-width: 479px) {
  .layout-container
    .search-content
    .results-desk
    .teacher-info
    .inner
    .right
    .spec-wrap
    .view-profile {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .layout-container .container.search-content {
    max-width: 1140px !important;
  }
}
