.chat-footer {
  padding: 25px;
  border-top: 1px solid #eaeaea;
  .input-wrap {
    width: 75%;
    textarea {
      width: 100%;
      height: auto;
      border: none;
      outline: none;
      resize: none;
      height: 60px;
      padding: 15px;
      font-size: 16px;
    }
  }
  .btn-wrap {
    width: 100%;
    max-width: 320px;
    padding: 20px;
    button {
      width: 100%;
      height: 50px;
      background-color: #2a41e8;
      color: #fff;
      border: none;
      outline: none;
    }
  }
}
@media (max-width: 1199px) {
  .chat-footer {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .chat-footer .btn-wrap {
    width: 100%;
    margin: auto;
  }
  .chat-footer .input-wrap {
    width: 100%;
  }
}
@media (max-width: 479px) {
  .chat-footer .btn-wrap {
    width: 100%;
  }
  .chat-footer .input-wrap {
    width: 100%;
  }
}
