.chat-header {
  border-bottom: 1px solid #eaeaea;
  padding: 25px;
  min-height: 65px;
  .recipient-name {
    float: left;
    margin-bottom: 0;
    margin-right: 80px;
  }
  .media {
    float: left;
    padding: 0 10px;
    img {
      width: 20px;
    }
  }
  .subtitle.clear-chat {
    float: right;
    margin-top: 0;
    img {
      width: 20px;
    }
  }
}
