.container {
  background-color: transparent;
  .chat-list-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    height: auto;
    background-color: transparent;
    .listing-header {
      border-bottom: 1px solid #eaeaea;
      padding: 10px 18px;
      min-height: 65px;
      background-color: transparent;
      .search-wrap {
        background-color: #f6f6f6;
        width: 100%;
        height: auto;
        padding: 5px;
        input {
          width: 90%;
          height: 20px;
          border: none;
          outline: none;
          background-color: #f6f6f6;
          padding-left: 10px;
        }
        input:hover,
        input:active,
        input:focus {
          border: none;
          outline: none;
        }
        img {
          width: 16px;
          float: right;
          margin-top: 3px;
        }
      }
    }
    .individual-list-wrap {
      width: 100%;
      height: auto;
      .individual-list {
        width: 100%;
        height: auto;
        padding: 10px 18px;
        ul.notifications-list {
          width: 100%;
          li {
            float: left;
            position: relative;
            .header-notifications-trigger {
              margin-top: 0;
            }

            .time {
              width: auto;
              font-size: 13px;
              position: absolute;
              top: 0;
              right: 0;
            }
            p {
              width: 100%;
            }
            p.title {
              margin-bottom: 15px;
              font-size: 13px;
            }
            p.notification-msg {
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 13px;
            }
          }
          li:first-child {
            width: 20%;
          }
          li:last-child {
            width: 80%;
          }
        }

        .header-notifications-trigger,
        .header-notifications-trigger a {
          font-size: 22px;
          color: #333;
          position: relative;
          margin-top: 20px;
        }
        .header-notifications-trigger a img {
          width: 21px;
        }
        .header-notifications-trigger span {
          position: absolute;
          display: inline-block;
          top: -15px;
          margin-left: -10px;
          font-weight: 700;
          height: 19px;
          width: 19px;
          line-height: 19px;
          text-align: center;
          color: #fff;
          font-size: 11px;
          background-color: #66676b;
          border-radius: 50%;
          position: relative;
          background-color: #2a41e8;
        }
        .user-avatar {
          display: inline-block;
          border-radius: 50%;
          width: 35px;
          height: 35px;
          position: relative;
          cursor: pointer;
        }
        .status-icon,
        .notification-avatar:after,
        .user-avatar:after {
          position: absolute;
          content: "";
          height: 12px;
          width: 12px;
          background-color: silver;
          bottom: 0;
          right: 0;
          display: block;
          border: 2px solid #fff;
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
          border-radius: 50%;
        }
        .status-icon.status-online,
        .status-online:after {
          background-color: #38b653;
        }
        .header-notifications-trigger .user-avatar img {
          width: 100%;
          width: 100%;
          display: inline-block;
          border-radius: 50%;
          image-rendering: -webkit-optimize-contrast;
        }
      }
      .individual-list.is-active {
        background-color: #f9fbf9;
      }
    }
  }
}

@media (max-width: 479px) {
  .layout-container {
    padding: 10px;
  }
}
