.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;
  .reset-pasword-container {
    min-height: 100vh;
    margin-top: 80px;
    .inputWrap {
      max-width: 300px;
      position: relative;
      width: 100%;
      margin: auto;
      input {
        display: block;
        height: 48px;
        line-height: 48px;
        padding: 0 20px;
        margin: auto;
        margin-bottom: 30px;
        max-width: 100%;
        width: 100%;
        max-width: 300px;
      }
      .error {
        position: absolute;
        top: 55px;
        left: 0;
        color: red;
        font-size: 13px;
        display: none;
      }
      .show {
        display: block;
      }
    }
  }
}
