.layout-container {
  display: block;
  width: 100%;
  height: auto;
  padding: 45px;
  margin-top: 82px;
  background-color: #f5f7fa;

  .reset-pasword-success-container {
    min-height: 100vh;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: unset !important;
  }
}
