body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.student-prof-edit-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      .profile-edit-wrap {
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
        width: 100%;
        .left-blk {
          width: 100%;
          float: left;
          .change-profile-pic-title {
            padding: 15px 15px 0;
          }
          .avatar-wrap {
            width: 100%;
            padding: 15px;
            float: left;
            .avatar-wrap-inner {
              .file-cta {
                height: 150px;
                width: 150px;
                padding: 0;
                img {
                  height: 100%;
                  width: 100%;
                  transition: all 0.3s ease;
                  object-fit: cover;
                }
              }
            }
          }
        }
        .right-blk {
          width: 100%;
          float: left;
          .field-wrap {
            width: 50%;
            padding: 15px;
            float: left;
            input {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
          }

          .short-description-wrap {
            padding: 15px;
            width: 100%;
            textarea {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
          }
          .education-wrap {
            width: 100%;
            padding: 30px 30px 30px 15px;
            border-bottom: 1px solid #e0e0e0;
            .edu {
              padding-left: 15px;
            }
            .field-wrap {
              width: 100%;
              .field {
                width: 50%;
              }
            }
            textarea {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            }
            .pick-date-wrap {
              padding: 0 15px 0;
            }
            .education-list {
              width: 100%;
              height: auto;
              .expert-row {
                width: 100%;
                height: auto;
                padding: 5px;
                border: 1px solid #e0e0e0;
                position: relative;
                .sec1 {
                  width: 20%;
                  float: left;
                  padding: 5px 15px;
                }
                .sec2 {
                  width: 65%;
                  float: left;
                  padding: 5px 15px;
                  text-align: justify;
                  span {
                    text-align: justify;
                  }
                  .from-to {
                    margin-left: 10px;
                  }
                }
                .sec3 {
                  width: 15%;
                  float: left;
                  padding: 5px 15px;
                  span {
                    cursor: pointer;
                  }
                }
                .edit-delete-wrap {
                  height: auto;
                  float: left;
                  img {
                    width: 20px;
                    margin-right: 10px;
                    cursor: pointer;
                  }
                }
              }
            }
          }
          .pick-date-wrap {
            width: 100%;
            .month-selector {
              width: 170px;
              float: left;
              margin-right: 15px;
              select {
                width: 170px;
                border: 1px solid #e0e0e0;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              }
            }
            .year-selector {
              width: 170px;
              float: left;
              select {
                width: 170px;
                border: 1px solid #e0e0e0;
                box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              }
            }
          }
        }
        .btn-submit {
          width: 100%;
          max-width: 239px;
          margin-left: 15px;
          margin-top: 20px;
        }
      }
    }
  }
}
// .student-side-panel {
//   width: 280px;
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   overflow-y: hidden !important;
//   float: left;
// }
// .content-display {
//   width: calc(100% - 280px);
//   height: calc(100vh - 82px);
//   min-height: 100px;
//   float: left;
// }
@media (max-width: 991px) {
  .student-prof-edit-container {
    position: relative;
    width: 100%;
    margin-top: -7px;
    height: auto;
  }
}
@media (max-width: 767px) {
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .field-wrap {
    width: 100%;
    .field {
      width: 100% !important;
    }
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .description-wrap
    .control {
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .column {
    display: inline-block;
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec1 {
    width: 100%;
    padding: 5px 15px;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec2 {
    width: 100%;
    text-align: left;
    font-size: 14px;
    padding: 5px 15px;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec3 {
    width: auto;
    position: absolute;
    right: 0;
    padding: 5px 15px;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .sec2
    .from-to {
    margin-left: 0;
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .education-list
    .expert-row
    .edit-delete-wrap
    img {
    width: 13px;
  }
}
@media (max-width: 767px) {
  .student-prof-edit-container .dashboard-inner .content-box {
    padding: 0;
    .label {
      font-size: 14px;
    }
    .pg-heading {
      margin-bottom: 0;
      padding: 20px 20px 20px 30px;
      font-size: 19px;
    }
    .profile-edit-wrap {
      padding: 15px;
    }
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .headings {
    font-size: 17px;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .select-skills-wrap
    .part {
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .switch-account-wrap
    .switch-account-inner
    .status-switcher
    .part
    label {
    width: 100%;
    margin-bottom: 15px;
    max-width: 320px;
  }
  .select {
    width: 100%;
  }
  select {
    width: 100% !important;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .month-selector {
    width: 50%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .year-selector {
    width: 50%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .edit-social-media-links-wrap
    .field-wrap
    .control {
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .education-wrap
    .pick-date-wrap {
    padding: 0;
    margin: 0;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap {
    margin: 0;
    padding: 0;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk {
    .select-skills-wrap {
      padding: 30px 15px;
    }
    .switch-account-wrap {
      padding: 30px 15px;
    }
    .description-wrap {
      padding: 30px 15px;
    }
    .edit-languages-wrap {
      padding: 30px 15px;
    }
    .expertise-wrap {
      padding: 30px 15px;
    }
    .work-experience-wrap {
      padding: 30px 15px;
      .pick-date-wrap {
        .column {
          padding: 15px 0;
        }
      }
    }
    .edit-social-media-links-wrap {
      padding: 30px 15px;
    }
    .education-wrap {
      padding: 30px 15px;
      .edu {
        padding-left: 0;
      }
      .field-wrap {
        padding: 15px 0;
      }
      .pick-date-wrap {
        .column {
          padding: 15px 0;
        }
      }
    }
    .btn-submit {
      margin: auto;
      margin-top: 20px;
    }
  }
}
@media (max-width: 479px) {
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .month-selector {
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .pick-date-wrap
    .year-selector {
    width: 100%;
  }
  .student-prof-edit-container
    .dashboard-inner
    .content-box
    .profile-edit-wrap
    .right-blk
    .expertise-wrap
    select {
    min-width: unset;
  }
}
