.student-dashboard-navigation {
  padding: 20px 20px 20px 30px;
  background-color: #666;
  width: 100%;
  display: none;
  margin-top: 82px;
  .dashboard-title {
    color: #fff;
    float: left;
  }

  .hamburger-wrap {
    margin-right: 10px;
  }
}
.student-side-panel-chat-wrap {
  position: fixed;
  height: 100%;
  width: 300px;
  background-color: #fff;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  padding: 30px 0;
  margin-top: 82px;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;

  .side-panel-menu {
    li {
      padding: 20px 30px;
      a {
        color: #333;
      }
    }
    li:last-child {
      padding-bottom: 0;
    }
    li.is-active {
      background-color: rgba(42, 65, 232, 0.04);
      a {
        color: blue;
      }
    }
  }
}
.student-side-panel-chat-wrap.is-active {
  display: block;
  opacity: 1;
  visibility: visible;
}
@media (max-width: 991px) {
  .student-dashboard-navigation {
    display: inline-block;
    .hamburger-wrap {
      width: 30px;
      height: auto;
      float: left;
      line-height: 0;
      span {
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin-bottom: 5px;
        line-height: 0;
      }
      span:last-child {
        margin-bottom: 0;
      }
    }
  }
  .student-side-panel-chat-wrap {
    position: relative;
    width: 100%;
    padding: 0 0 30px;
    display: none;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
  }
}
