body::-webkit-scrollbar {
  width: 0 !important;
}

body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

.student-billing-details-container {
  display: block;
  width: 100%;
  height: calc(100vh - 82px);
  width: calc(100% - 300px);
  padding: 0;
  margin-top: 82px;
  background-color: #fff;
  position: relative;
  position: fixed;
  right: 0;
  .dashboard-inner {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    background-color: #fff;
    .content-box {
      width: 100%;
      height: auto;
      padding: 30px;
      min-height: 650px;
      .column {
        border: 1px solid #e0e0e0;
      }
      .column-edit {
        max-width: 100px;
      }
      .edit-card-details {
        width: 100%;
        span {
          float: left;
          margin-left: 5px;
        }
        img {
          width: 20px;
          float: left;
        }
      }
      .titl {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
      }
      .des {
        width: 100%;
        text-align: center;
        .expiry-wrap {
          width: auto;
          .select {
            float: left;
            margin-right: 10px;
          }
          .select:last-child {
            margin-right: 0;
          }
          select {
            width: 90px;
            float: left;
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          }
        }
      }
      .billing-title {
        width: 100%;
        margin-top: 40px;
      }
      .billing-history-wrap {
        width: 100%;
        overflow: auto;

        table {
          min-width: 767px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}
.edit-add-modal {
  z-index: 9999999;
  .modal-background {
    overflow-y: auto;
  }
  .modal-content {
    background-color: #fff;
    margin: 100px auto;
    padding: 15px;
    border-radius: 5px;
    max-height: unset !important;
    .card-head {
      text-align: center;
    }
    .payment-method-wrap {
      width: 100%;
      height: auto;
      text-align: center;
      .card-details-list {
        width: 100%;
        max-width: 400px;
        li {
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          input {
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          }
          .select {
            max-width: 100px;
            margin-right: 30px;
            float: left;
            select {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              width: 100%;
            }
          }
        }
      }
      .add-card {
        width: 100%;
        max-width: 200px;
      }
      .CardDemo button {
        display: block;
        width: 100%;
        height: 37px;
        background-color: #6772e5;
        border-radius: 2px;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
        margin-top: 10px;
        line-height: 40px;
        padding: 0 14px;
        white-space: nowrap;
        border: 0;
      }
      .CardDemo form {
        max-width: 496px !important;
        position: relative;
        margin: auto;
      }
      .CardDemo label {
        color: #6b7c93;
      }
      .CardDemo .error {
        color: #c23d4b;
        margin: 5px 0;
      }
      .CardDemo h3 {
        font-weight: bold;
        font-size: 125%;
        padding: 30px 0px 20px 0px;
      }
      .exp_input {
        max-width: 100px;
        margin-right: 30px;
        float: left;
      }
    }
  }
}

@media (max-width: 991px) {
  .student-billing-details-container {
    position: relative;
    width: 100%;
    margin-top: 0;
    height: auto;
  }
}
@media (max-width: 767px) {
  .edit-add-modal {
    z-index: 9999999;
    .modal-content {
      width: 90%;
      .add-edit-wrap {
        input {
          min-width: 100%;
        }
      }
    }
  }
  .modal-close {
    top: 3px;
  }
}
