.login-register-wrap {
  display: inline-block;
  height: 100%;
  border-left: 1px solid #e0e0e0;
  padding: 30px 0 0 26px;
  text-align: left;
}
.login-register-content {
  display: inline-block;
  cursor: pointer;
}
.login-register-icon {
  font-size: 18px;
  line-height: 0;
  position: relative;
  top: 2px;
  margin-right: 4px;
  margin-left: -1px;
  color: #777;
  transition: 0.3s;
}

.login-register-icon:before {
  content: '\e988';
}
.login-icon {
  display: inline-block;
  float: left;
  margin-right: 6px;
}
.login-register-btn {
  color: #666;
  display: inline-block;
  float: left;
  margin-top: -1px;
  cursor: pointer;
}
.login-register-btn:hover {
  color: #2a41e8;
}
@media screen and (max-width: 1024px) {
  .login-register-wrap {
    display: none;
  }
}
