.mobile-menu-wrap {
  width: 100%;
  height: auto;
  position: fixed;
  right: 0;
  left: 0;
  margin: auto;
  top: 130px;
  opacity: 0;
  visibility: hidden;
  background-color: #2a2a2a;
  z-index: 10;
  -webkit-transition: all ease-in-out 0.3s;
  -moz-transition: all ease-in-out 0.3s;
  -o-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  ul {
    display: inline-block;
    width: 100%;
    li {
      padding: 15px;
      border-bottom: 1px solid;
      width: 100%;
      a {
        color: #fff;
        font-size: 14px;
      }
    }
    li:last-child {
      margin-bottom: 0;
    }
  }
}
.show-menu {
  opacity: 1;
  visibility: visible;
  width: 100%;
  top: 82px;
}
