header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;

  .header-inner {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    font-size: 16px;
    height: 82px;
    background-color: #fff;
    max-width: 100%;
    margin: 0;
    padding: 0 27px 0 35px;
    .navbar-burger {
      position: absolute;
      right: 10px;
      height: 100%;
      z-index: 50;
      span {
        height: 3px;
        width: 20px;
      }
    }
    .navbar-burger:hover {
      background-color: transparent;
      outline: none;
    }
    .navbar-burger:focus {
      background-color: transparent;
      outline: none;
    }
  }
  .left-side {
    float: left;
    height: 100%;
  }
  .right-side {
    float: right;
    height: 100%;
    ul.login-signup {
      height: 100%;
      li {
        margin-right: 10px;
        height: 100%;
        align-items: center;
        a {
          color: #666;
          line-height: 23px;
          align-items: center;
          display: flex;
          padding: 0.5rem 0.75rem;
        }
      }
    }
    .login-register-wrap {
      display: inline-block;
      height: 100%;
      border-left: 1px solid #e0e0e0;
      padding: 30px 0 0 26px;
      text-align: left;
    }
    .login-register-content {
      display: inline-block;
      cursor: pointer;
    }
    .login-register-icon {
      font-size: 18px;
      line-height: 0;
      position: relative;
      top: 2px;
      margin-right: 4px;
      margin-left: -1px;
      color: #777;
      transition: 0.3s;
    }

    .login-register-icon:before {
      content: "\e988";
    }
    .login-icon {
      display: inline-block;
      float: left;
      margin-right: 6px;
    }
    .login-register-btn {
      color: #666;
      display: inline-block;
      float: left;
      margin-top: -1px;
      cursor: pointer;
    }
    .login-register-btn:hover {
      color: #2a41e8;
    }
  }
  .logo {
    border-right: 1px solid #e0e0e0;
    height: 100%;
    vertical-align: top;
    padding-right: 35px;
    margin-right: 20px;
    float: left;
    height: 100%;
  }
  .logo-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .logo-icon {
    height: 42px;
    width: auto;
    top: 48%;
    position: relative;
    transform: translate3d(0, -50%, 0);
  }
}
.navbar-custom {
  height: 100%;
  .navbar-brand,
  .navbar-tabs {
    height: 100%;
  }
  .navbar-item {
    padding: 4px 13px 4px;
    a {
      color: #666;
      line-height: 23px;
      align-items: center;
      display: flex;
      padding: 0.5rem 0.75rem;
    }
    a:focus,
    a:focus-within,
    a:hover,
    a.is-active {
      background-color: transparent !important;
    }

    a:after {
      content: "";
      right: -10px;
      border: none;
      position: absolute;
      left: unset;
      top: -5px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #a8a8a8;
      background-color: #f0f0f0;
      outline: 5px solid #f0f0f0;
      transform: none;
      top: 41px;
      right: -11px;
    }

    a:hover {
      background-color: transparent;
      color: #2a41e8;
    }
  }
  .navbar-item:hover .navbar-dropdown {
    top: 85%;
    opacity: 1;
    visibility: visible;
    a {
      padding: 4px 13px 4px;
      white-space: nowrap;
      color: #aaa;
      font-size: 16px;
    }
    a {
      color: #fff;
    }
  }
  .without-dropdown a:after {
    border: none !important;
    outline: none !important;
  }

  .navbar-dropdown {
    border-top: none;
    transform: translate3d(0, 0, 0);
    padding: 14px 6px;
    background-color: #303030;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-sizing: border-box;
    top: 100%;
    width: 208px;
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    left: 22px;
    transform: translate3d(0, 0, 0);
    a:after {
      border: none !important;
      outline: none !important;
    }
  }
  .navbar-dropdown:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #303030;
  }
}

// Media
@media screen and (max-width: 1024px) {
  .login-register-wrap {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: #fff;
  }
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
  }
}
@media screen and (max-width: 1024px) {
  header .logo {
    border-right: none;
  }
}
@media (max-width: 1024px) {
  header {
    .right-side {
      padding-right: 40px;
    }
  }
}
@media (max-width: 479px) {
  header {
    .header-inner {
      padding: 0 15px;
    }
    .logo-icon {
      height: 35px;
    }
    .logo {
      padding-right: 0;
      margin-right: 0;
    }
  }
}
