header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;

  .header-inner {
    position: relative;
    z-index: 999;
    padding: 0;
    box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.12);
    font-size: 16px;
    height: 82px;
    background-color: #fff;
    max-width: 100%;
    margin: 0;
    padding: 0 27px 0 35px;
    .navbar-burger {
      position: absolute;
      right: 10px;
      height: 100%;
      z-index: 50;
      span {
        height: 3px;
        width: 20px;
      }
    }
    .navbar-burger:hover {
      background-color: transparent;
      outline: none;
    }
    .navbar-burger:focus {
      background-color: transparent;
      outline: none;
    }
  }
  .left-side {
    float: left;
    height: 100%;
  }
  .right-side {
    float: right;
    height: 100%;
    .header-widget {
      display: inline-block;
      height: 100%;
      border-left: 1px solid #e0e0e0;
      padding: 0 30px;
      text-align: left;
      float: left;
      .dropdown-content {
        padding-bottom: 0;
      }
      .notifications-menu {
        padding: 10px;
        // display: block;
        height: 0px;
        left: -290px;
        width: 360px;
        opacity: 0 !important;
        visibility: hidden !important;
        display: block !important;
        -webkit-transition: all 0.3s linear;
        -moz-transition: all 035s linear;
        -o-transition: all 0.3s linear;
        transition: all 0.3s linear;
        z-index: 999;
        .dropdown-item {
          padding: 15px;
          border-bottom: 1px solid #e0e0e0;
          ul.notifications-list {
            width: 100%;
            li {
              float: left;
              .header-notifications-trigger {
                margin-top: 0;
              }
              .notification-message {
                width: 100%;
              }
              .time {
                width: 100%;
              }
              p {
                width: 100%;
              }
              p.title {
                margin-bottom: 5px;
              }
            }
            li:first-child {
              width: 20%;
            }
            li:last-child {
              width: 80%;
            }
          }
        }

        a.dropdown-item,
        button.dropdown-item {
          white-space: normal !important;
        }

        .dropdown-item:last-child {
          border-bottom: none;
        }
        .view-all-notifications-btn {
          width: 100%;
          border-radius: 0;
        }
      }

      .notifications-menu:before {
        content: "";
        position: absolute;
        right: 54px;
        top: 3px;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #d7d7d7;
      }

      .notifications-menu.is-active {
        opacity: 1 !important;
        visibility: visible !important;
        display: block !important;
        height: auto;
      }
    }
    .header-widget-end {
      padding: 0 0 0 30px;
    }
    .header-notifications {
      display: inline-block;
      position: relative;
    }

    .header-notifications-ico .header-notifications-trigger {
      margin-top: 30px;
    }
    .header-notifications-trigger,
    .header-notifications-trigger a {
      font-size: 22px;
      color: #333;
      position: relative;
      margin-top: 20px;
    }
    .header-notifications-trigger a img {
      width: 21px;
    }
    .header-notifications-trigger span {
      position: absolute;
      display: inline-block;
      top: -15px;
      margin-left: -10px;
      font-weight: 700;
      height: 19px;
      width: 19px;
      line-height: 19px;
      text-align: center;
      color: #fff;
      font-size: 11px;
      background-color: #66676b;
      border-radius: 50%;
      position: relative;
      background-color: #2a41e8;
    }
    .user-avatar {
      display: inline-block;
      border-radius: 50%;
      width: 42px;
      height: 42px;
      position: relative;
      cursor: pointer;
    }
    .status-icon,
    .notification-avatar:after,
    .user-avatar:after {
      position: absolute;
      content: "";
      height: 12px;
      width: 12px;
      background-color: silver;
      bottom: 0;
      right: 0;
      display: block;
      border: 2px solid #fff;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
    .status-icon.status-online,
    .status-online:after {
      background-color: #38b653;
    }
    .header-notifications-trigger .user-avatar img {
      width: 100%;
      width: 100%;
      display: inline-block;
      border-radius: 50%;
      image-rendering: -webkit-optimize-contrast;
    }
    .header-notifications .user-menu {
      opacity: 0 !important;
      visibility: hidden !important;
      display: block !important;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 035s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear;
      width: 290px;
      z-index: 99;
      .main-listing {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        padding: 25px;
        li {
          width: 100%;
          .sub-listing {
            width: 100%;
            li {
              float: left;
              width: auto;
              .header-notifications-trigger {
                margin-top: 0;
              }
              .title {
                font-size: 16px;
              }
              .subtitle {
                font-size: 14px;
              }
            }
            li:first-child {
              width: 20%;
            }
            li:last-child {
              width: 80%;
              padding-left: 10px;
            }
          }
          .status-switcher {
            width: 100%;
            height: auto;
            .part {
              width: 100%;
              position: relative;
              border-radius: 10px;
              label {
                width: 50%;
                text-align: center;
                position: relative;
                padding: 10px 0;
                text-align: center;
                background-color: #eee;
                float: left;
                transition: all 0.4s cubic-bezier(0.3, -0.41, 0.19, 1.3),
                  background-color 0.2s linear;

                input {
                  position: absolute;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  visibility: hidden;
                  left: 0;
                  top: 0;
                }
              }
              label.online.is-active {
                background-color: #38b653;
                color: #fff;
              }
              label.offline.is-active {
                background-color: #333;
                color: #fff;
              }
              label:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
              }
              label:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
              }
              .radio + .radio {
                margin-left: 0;
              }
            }
          }
        }
      }
      .more-listings {
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        padding: 25px;
        li {
          padding-bottom: 5px;
          a {
            font-size: 16px;
            color: #666;
          }
        }
        li:last-child {
          padding-bottom: 0;
        }
      }
      .dropdown-content,
      .dropdown-item {
        padding: 0;
      }
    }
    .header-notifications .user-menu:before {
      content: "";
      position: absolute;
      right: 13px;
      top: -2px;
      width: 0;
      height: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 6px solid #d7d7d7;
    }
    .header-notifications .user-menu.is-active {
      opacity: 1 !important;
      visibility: visible !important;
      display: block !important;
    }
  }
  .logo {
    border-right: 1px solid #e0e0e0;
    height: 100%;
    vertical-align: top;
    padding-right: 157px !important;
    margin-right: 20px;
    float: left;
    height: 100%;
  }
  .logo-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .logo-icon {
    height: 42px;
    width: auto;
    top: 48%;
    position: relative;
    transform: translate3d(0, -50%, 0);
  }
}
.navbar-custom {
  height: 100%;
  .navbar-brand,
  .navbar-tabs {
    height: 100%;
  }
  .navbar-item {
    padding: 4px 13px 4px;
    a {
      color: #666;
      line-height: 23px;
      align-items: center;
      display: flex;
      padding: 0.5rem 0.75rem;
    }
    a:focus,
    a:focus-within,
    a:hover,
    a.is-active {
      background-color: transparent !important;
    }

    a:after {
      content: "";
      right: -10px;
      border: none;
      position: absolute;
      left: unset;
      top: -5px;
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid #a8a8a8;
      background-color: #f0f0f0;
      outline: 5px solid #f0f0f0;
      transform: none;
      top: 41px;
      right: -11px;
    }

    a:hover {
      background-color: transparent;
      color: #2a41e8;
    }
  }
  .navbar-item:hover .navbar-dropdown {
    top: 85%;
    opacity: 1;
    visibility: visible;
    a {
      padding: 4px 13px 4px;
      white-space: nowrap;
      color: #aaa;
      font-size: 16px;
    }
    a {
      color: #fff;
    }
  }
  .without-dropdown a:after {
    border: none !important;
    outline: none !important;
  }

  .navbar-dropdown {
    border-top: none;
    transform: translate3d(0, 0, 0);
    padding: 14px 6px;
    background-color: #303030;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    box-sizing: border-box;
    top: 100%;
    width: 208px;
    display: block;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    left: 22px;
    transform: translate3d(0, 0, 0);
    a:after {
      border: none !important;
      outline: none !important;
    }
  }
  .navbar-dropdown:after {
    content: "";
    position: absolute;
    left: 25px;
    top: -5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #303030;
  }
}

// Media
@media screen and (max-width: 1024px) {
  .login-register-wrap {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  .navbar-dropdown a.navbar-item:focus,
  .navbar-dropdown a.navbar-item:hover {
    background-color: transparent;
    color: #fff;
  }
  .navbar-item.has-dropdown:focus .navbar-link,
  .navbar-item.has-dropdown:hover .navbar-link,
  .navbar-item.has-dropdown.is-active .navbar-link {
    background-color: transparent;
  }
}
@media screen and (max-width: 1024px) {
  header .logo {
    border-right: none;
  }
}
@media (max-width: 1024px) {
  header .right-side {
    padding-right: 30px;
  }
}
@media (max-width: 767px) {
  header .logo {
    padding-right: 20px !important;
  }
  header .right-side {
    padding-right: 30px;
  }
}
@media (max-width: 479px) {
  header {
    .header-inner {
      padding: 0 15px;
    }
    .logo-icon {
      height: 35px;
    }
    .logo {
      padding-right: 0;
      margin-right: 0;
    }
    .right-side {
      padding-right: 30px;
      .header-widget {
        padding: 0 10px;
        border-left: none;
      }
      .dropdown.is-right .dropdown-menu {
        right: -42px;
      }
    }
  }
  header .right-side .header-notifications .user-menu:before {
    right: 55px;
  }
  header .right-side .header-widget .notifications-menu {
    left: -152px;
    width: 300px;
  }
  header .right-side .header-widget .notifications-menu:before {
    left: 157px;
    right: 0;
  }
}
