.add-cards-wrap {
  width: 100%;
  height: 100%;
  padding: 45px;
  background-color: #fff;
  margin-top: 82px;
  text-align: center;
  min-height: 670px;
  .center-content {
    text-align: center;
    .headings {
      padding-bottom: 15px;
    }
    .funds-wrap {
      width: auto;
      margin-bottom: 30px;
      .credits-list {
        label {
          position: relative;
          margin-right: 10px;
          width: auto;
          height: auto;
          float: left;
          display: table;
          text-align: center;

          input {
            opacity: 0;
            cursor: pointer;
            width: 100%;
            height: 100%;
            position: absolute;
          }

          .checkmark {
            height: 40px;
            width: 80px;
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
            display: table-cell;
            vertical-align: middle;

            img {
              width: 25px;
              display: none;
              -webkit-transition: all 0.3s linear;
              -moz-transition: all 035s linear;
              -o-transition: all 0.3s linear;
              transition: all 0.3s linear;
              opacity: 0;
              visibility: hidden;
            }
            img.show {
              display: block;
              opacity: 1;
              visibility: visible;
            }
          }
        }
        label.variable-input {
          height: 40px;
          width: 120px;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          display: table-cell;
          vertical-align: middle;
          opacity: 1;
          input {
            opacity: 1;
            left: 0;
            top: 0;
            border: none;
            outline: none;
            padding: 10px 10px 10px 40px;
          }
          .sign-label {
            position: absolute;
            width: auto;
            height: 100%;
            left: 0;
            top: 0;
            display: table;
            text-align: center;
            background-color: #dce3e5;
            .sign-wrap {
              display: table-cell;
              vertical-align: middle;
              padding: 5px 10px;
            }
          }
        }
        .radio + .radio {
          margin-left: 0;
        }
        .checkmark.is-active {
          border: 1px solid #58bada;
          background-color: #e1edf1;
        }
      }
    }
    .payment-method-wrap {
      width: 100%;
      height: auto;
      .card-details-list {
        width: 100%;
        max-width: 400px;
        li {
          width: 100%;
          text-align: left;
          margin-bottom: 20px;
          input {
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          }
          .select {
            max-width: 100px;
            margin-right: 30px;
            float: left;
            select {
              border: 1px solid #e0e0e0;
              box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
              width: 100%;
            }
          }
        }
      }
      .add-card {
        width: 100%;
        max-width: 200px;
      }
    }
  }
  .CardDemo button {
    display: block;
    width: 100%;
    height: 37px;
    background-color: #6772e5;
    border-radius: 2px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    line-height: 40px;
    padding: 0 14px;
    white-space: nowrap;
    border: 0;
  }
  .CardDemo form {
    max-width: 496px !important;
    position: relative;
    margin: auto;
  }
  .CardDemo label {
    color: #6b7c93;
  }
  .CardDemo .error {
    color: #c23d4b;
    margin: 5px 0;
  }
  .CardDemo h3 {
    font-weight: bold;
    font-size: 125%;
    padding: 30px 0px 20px 0px;
  }
  .edit-add-modal {
    z-index: 9999999;
    .modal-content {
      background-color: #fff;
      margin: 100px auto;
      padding: 15px;
      border-radius: 5px;
      max-height: unset !important;
      .add-edit-wrap {
        width: 100%;
        height: auto;
        .current {
          input {
            min-width: unset;
            margin-right: 10px;
            margin-top: 3px;
          }
        }
        input {
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          float: left;
          min-width: 320px;
        }
        .field-wrap {
          width: 100%;
          padding: 15px 0;
        }
        textarea {
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        }
        .select {
          width: 100%;
          select {
            width: 100%;
            border: 1px solid #e0e0e0;
            box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
          }
        }
      }
    }
    .edu {
      padding-left: 15px;
    }
    .field-wrap {
      width: 100%;
      .field {
        width: 100%;
        .control {
          width: 100%;
        }
      }
      input {
        width: 100%;
        border: 1px solid #e0e0e0;
        box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
      }
    }
    .pick-date-wrap {
      padding: 0 15px 0;
      .column {
        padding: 15px 0 15px;
      }
      .month-selector {
        select {
          width: 170px;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        }
      }
      .year-selector {
        select {
          width: 170px;
          border: 1px solid #e0e0e0;
          box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.05);
        }
      }
    }
  }
  .modal-background {
    overflow-y: scroll;
  }
  .addcard_msg {
    margin: 10px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .add-cards-wrap .center-content .funds-wrap .credits-list label {
    width: 100%;
    margin-bottom: 10px;
  }
  .add-cards-wrap .center-content .funds-wrap .credits-list label .checkmark {
    width: 100%;
  }
  .add-cards-wrap
    .center-content
    .funds-wrap
    .credits-list
    label.variable-input {
    width: 100%;
  }
}
@media (max-width: 479px) {
}
