.std-voice-video-completed-wrap {
  display: table;
  width: 100%;
  height: 100%;
  padding: 45px;
  background-color: #fff;
  position: fixed;
  .center-content {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    .title {
      padding-bottom: 10px;
    }
    .amount {
      color: #666;
    }
    .rate-teacher-wrap {
    }
  }
}
@media (max-width: 767px) {
  .std-voice-video-completed-wrap {
    padding: 20px;
    .title {
      font-size: 18px;
    }
    .subtitle {
      font-size: 15px;
    }
  }
}
@media (max-width: 479px) {
  .std-voice-video-completed-wrap {
    .title {
      font-size: 15px;
    }
    .subtitle {
      font-size: 13px;
    }
    .rate-teacher {
      font-size: 14px;
    }
  }
}
